<% layout('layout2') %>

<div id="wrapper">

    <% include partials/sidebar %>


    <div id="page-content-wrapper">
      
       <% include partials/navbar %>
       
        <div class="container-fluid main_body">
          
           <h1>Hello, <%= user.fullname %></h1>
           <p>What would you like to do today?</p>
           
            <div class="row">
                <div class="col-md-4" id="colDesc">
                    <div class="info-icon"><i class="fa fa-sign-in"></i></div>
                    <h3 class="text-center">Add Company</h3>
                    <p class="text-center">Add company profile. Registered employees can give ratings and reviews.</p>

                    <a href="/company/create" class="btn btn-block btn-primary link_btn">Add</a>
                </div>

                <div class="col-md-4" id="colDesc">
                    <div class="info-icon"><i class="fa fa-search"></i></div>
                    <h3 class="text-center">Search</h3>
                    <p class="text-center">Search through our business catalogue and find your best partner.</p>

                    <a href="/company/search" class="btn btn-block btn-primary link_btn">Search</a>
                </div>

                <div class="col-md-4" id="colDesc">
                    <div class="info-icon"><i class="fa fa-star"></i></div>
                    <h3 class="text-center">Rate</h3>
                    <p class="text-center">Rate and review other companies and get your company reviewed as well.</p>

                    <a href="/companies" class="btn btn-block btn-primary link_btn">Rate</a>
                </div>
            </div>
        </div>
    </div>

</div>


















































