<!DOCTYPE html>
<html lang="en">
    <% include partials/header %>
<body>
   
   <%- body -%>
    
    
<% include partials/footer %>
<script src="/js/jquery.raty.js"></script>


<script>
$(document).ready(function() {
   $.fn.raty.defaults.path = '/images/';
   $('.star').raty({
       readOnly : true,
       score: function(data){
            return $(this).attr('data-score');
       }
    });
});    
</script>
</body>
</html>