<% layout('layout') %>


<div class="container">
    <br><br>
    <div class="text-center reg_msg">
        <h1><a href="/">RateMe</a></h1>
    </div>
   <br><br>
   <div class="banner-title text-center reg_msg">
        <h2 class="fancy"><span>Enter Your Email</span></h2>
   </div><br>
    <p class="text-center">Please enter your email and a password reset link will be sent.</p>
    <div class="row signup">
        
        <% if(hasErrors) {%>
            <% for(var i = 0; i < messages.length; i++) {%>
                <div class="alert alert-danger">
                   <a href="#" class="close" data-dismiss="alert" aria-label="close">
                       &times;
                   </a>
                   <%= messages[i] %>
                    
                </div>
            <% } %>
        <% } %>
        
        <% if(noErrors) {%>
            <div class="alert alert-info">
               <a href="#" class="close" data-dismiss="alert" aria-label="close">
                   &times;
               </a>
               <%= info %>

            </div>
        <% } %>

        <form method="POST" action="/forgot">
            <div class="form-group input_group">
                <input id="email" class="form-control" name="email" type="text" autocomplete="on" placeholder="EMAIL" style="margin-bottom:20px;">
            </div>

            <div class="form-group" id="submit">
                <input type="submit" value="Send" class="form-control btn btn-primary" name="submit">
            </div>
        </form>

        <div>
            <h4>Already reset your password? <a href="/login">Login</a></h4>
        </div>

    </div>
</div>
